<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds">
    <contextName>qwde.web</contextName>
  <property name="LOGDIR" value="${LOGDIR:-./.log}"/>
    <property name="LOGNAME" value="${APPNAME:-qwde}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd-HHmmss.SSS};%-5level;${HOSTNAME};%contextName;[%thread];%logger{35};%msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari.pool" level="INFO"/>
    <logger name="com.mitchellbosecke.pebble.loader" level="INFO" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

