redex/LVish/compiled/
dist
cabal-dev
docs_examples
*.o
*.hi
*.chi
*.chs.h
.DS_Store
*~
*cabal.sandbox.config
.cabal-sandbox
test-results.xml
tags
.stack-work
untracked_junk

*.png
*.svg
*.dot
*.pdf

*.eventlog
*.prof
*.aux
*.css
*.js
*.hp
*.ps
PaRMAT

benchmark.csv
*.dat
executables/input/gnutella
executables/input/p2p
executables/input/parmat
executables/input/socialNetwork
executables/input/web
executables/input/amazon

stack.yaml
*out.txt
_cache/
_site/

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
result
