<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds">
  <property name="LOGDIR" value="${LOGDIR:-./.log}"/>
    <property name="LOGNAME" value="${APPNAME:-qwde}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>%d{yyyyMMdd-HHmmss.SSS};%-5level;${HOSTNAME};${APPNAME:-app};[%thread];%logger{35};%msg %n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari.pool" level="info"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="info"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
        <!-- <appender-ref ref="FILE"/> -->
        <!-- <appender-ref ref="syslog"/> -->
    </root>

</configuration>

